:root {
  --my-font-family-primary: "Noto Sans TC", sans-serif;

  --my-font-size-sm: 0.875rem;

  --my-font-size-lg: 2rem;

  --my-letter-spacing: 1px;

  --my-font-weight-100: 100;
  --my-font-weight-400: 400;

  --my-color-blue: hsl(210, 85%, 65%);
  --my-color-green: hsl(150, 85%, 65%);
  --my-color-red: hsl(0, 85%, 65%);
  --my-color-white: hsl(210, 60%, 92%);
  --my-color-yellow: hsl(60, 98%, 63%);

  --my-color-data-point: #ffffff;

  --my-color-light-gray: #7d7d7d;
  --my-color-dark-gray: #393939;
  --my-color-background-gray: #dedede;
  --my-color-highlight-gray: #c8c8c8;
}
